{% load staticfiles %}
<html>
	<head>
		<title>  DI-LIFE | Create an organic of your dreams </title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- our base css -->
        <!-- <link rel="stylesheet" href="css/base.css"> -->
        <link rel="stylesheet" href="{% static "life/css/base.css" %}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css">
		<!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script>
        <script src="{% static "life/js/docready.js" %}" defer></script>

	</head>
	<body>
		<header>
			<div class = "logo">
                <!-- <img src = "source/logo.png"> -->
                <img src="{% static "life/source/logo.png" %}">
				<!--<p class = "logo"> DI-LIFE </p>
				<p class = "motto"> Create an organic of your dreams </p>-->
			</div>
            <div class = "description">
                <p>
                    Have you ever wanted to make something unusual out of something normal?
                    For instance, a glowing cactus on the bedside table instead of a plain & usual lamp, or a rose with multicolored petals
                    for your girlfriend? Try our service to make your unique recipe. Just follow the instructions
                    and discover the awesomeness.
                </p>
            </div>
		</header>

		<div class = "search_menu" >
			<div class = "content">
                <div class = "settings">
                    <div id = "step1">
                        <p><b>STEP 1:</b> select the class of organism you wish to work with:</p>

                        <div id = "choose_class" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" for="{{ fclass.name }}">
                                <input type="radio" name="options" id="{{ fclass.name }}"> {{ fclass.name }}
                            </label>
                            <label class="btn btn-default" for="{{ sclass.name }}">
                                <input type="radio" name="options" id="{{ sclass.name }}"> {{ sclass.name }}
                            </label>
                        </div>
                    </div>
                    <div id = "step2">
                        <p><b>STEP 2:</b> select the organism from the list which you wish to work with:</p>
                        <select id = "choose_subclass" name="organism" class="selectpicker"> <!-- ToDo: количество видимых единовременно опций -->
                        </select>
                    </div>
                    <div id = "step3">
                        <p><b>STEP 3:</b> add the properties you want to assign to the selected organism:</p>
                        <fieldset id = "prop_boxes" class = "checkboxes">
                        </fieldset>
                        <!--<input type="submit" value="Get recipe!" class="btn btn-default"/> -->
                        <button id = "get_recipe_btn" value="Get recipe!" class="btn btn-default"> Get recipe! </button>
                    </div>
				</div>
				<div class = "randomize_menu">
                    <div class = "content">
                        <p>Or you can randomize properties:</p>
                        <!-- <input id = "get_recipe_btn" type="submit" value="Randomize" class="btn btn-default"/> -->
                        <button id = "randomize" value="Randomize" class="btn btn-default"> Randomize </button>
                    </div>
                </div>
			</div>
		</div>

		<div class = "search_result" >
            <div class = "result_content">
                <div id = "waiting_result">
                    <H2> Here will be your recipe </H2>
                    <img id = "waiting_result_animation" src="{% static "life/source/loader_animation.gif" %}">
                </div>
                <div id = "generated_result">
                    <H2> We are ready to reveal to you the secret of such organism! </H2>
                    <p>
                        You must do this. <br>
                        And this. <br>
                        And this. <br>
                        And this. <br>
                        And this. <br>
                        And this.
                    </p>
                    <div class = "order">
                        <p>You can order necessery ingredients:</p>
                        <input type="submit" value="Order" class="btn btn-default"/>
                    </div>
                </div>
            </div>
		</div>
	</body>

</html>